@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@500&display=swap');
:root{
    --black1: #141414;
    --blue1: #00C3E6;
    --green1: #05C90F;
}
body {
  font-family: 'Ubuntu', sans-serif;
  font-weight: 500;
  font-size: 60px;
  background: var(--black1);
}

/* -------------------------------------------------- */

.text{
    position: absolute;
    color: #fff;
    width: 500px;
    left: 50%;
    margin-left: -225px;
    height: 40px;
    top: 50%;
    margin-top: -50px;
} 
p{
    display: inline-block;
    vertical-align: top;
    margin: 0;
}
.word{
    position: absolute;
}
.letter{
    display: inline-block;
    position: relative;
    float: left;
    transform: translateZ(25px);
    transform-origin: 50% 50% 25px;
}
.letter.out{
    transform: rotateX(90deg);
    transition: transform 0.32s cubic-bezier(0.55, 0.055, 0.675, 0.19);
}
.letter.behind{
    transform: rotateX(-90deg);
}
.letter.in{
    transform: rotateX(0deg);
    transition: transform 0.38s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
.dev{
    color: var(--blue1);
} 
.free{
    color: var(--green1);
}